module container_kvm_gmem 1.0;

require {
        type kvm_gmem_t;
        type qm_bluechi_agent_t;
        type hi_reserved_port_t;
        type container_kvm_t;
        class tcp_socket name_connect;
        class anon_inode create;
}

#============= container_kvm_t ==============
allow container_kvm_t kvm_gmem_t:anon_inode create;

#============= qm_bluechi_agent_t ==============
allow qm_bluechi_agent_t hi_reserved_port_t:tcp_socket name_connect;
